.scrolling {
    position: fixed;
    top: 0;
    left: 220px;
}

article {
    margin-left: 140px;
    padding: 1em;
    overflow: hidden;
}

pre > code {
    overflow-wrap: normal;
    white-space: pre;
    overflow: auto;
}

/* Blog styling */

div.post_content img {
    max-width: 100%;
}
img {
    max-width: 100%;
}

/* Vertical row alignment */

@media (min-width: 768px) { 
    .row.vertical-align {
        display: flex;
        align-items: center;
    }
}

/* Italicize mailto links */

a[href^="mailto:"] {
    font-style: italic;
}

/* Drop shadow for images */

.drop-shadow {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}





.PageNavigation {
  font-size: 14px;
  display: block;
  width: 80%;
  overflow: hidden;
  float:left;
}

.PageNavigation a {
  display: inline;
  width: 25%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}
.PageNavigation .blogindex {
  text-align: center;
}


/*
#toc_container li,#toc_container ul{margin:0;padding:0}#toc_container.no_bullets li,#toc_container.no_bullets ul,#toc_container.no_bullets ul li,.toc_widget_list.no_bullets,.toc_widget_list.no_bullets li{background:0 0;list-style-type:none;list-style:none}#toc_container.have_bullets li{padding-left:12px}#toc_container ul ul{margin-left:1.5em}#toc_container{background:#f9f9f9;border:1px solid #aaa;padding:10px;margin-bottom:1em;width:auto;display:table;font-size:95%}#toc_container.toc_light_blue{background:#edf6ff}#toc_container.toc_white{background:#fff}#toc_container.toc_black{background:#000}#toc_container.toc_transparent{background:none transparent}#toc_container p.toc_title{text-align:center;font-weight:700;margin:0;padding:0}#toc_container.toc_black p.toc_title{color:#aaa}#toc_container span.toc_toggle{font-weight:400;font-size:90%}#toc_container p.toc_title+ul.toc_list{margin-top:1em}.toc_wrap_left{float:left;margin-right:10px}.toc_wrap_right{float:right;margin-left:10px}#toc_container a{text-decoration:none;text-shadow:none}#toc_container a:hover{text-decoration:underline}.toc_sitemap_posts_letter{font-size:1.5em;font-style:italic}
*/


#toc, .toc, .mw-warning {
    background-color: #F9F9F9;
    border: 1px solid #AAAAAA;
    font-size: 95%;
    padding: 5px;
}
#toc h2, .toc h2 {
    border: medium none;
    display: inline;
    font-size: 100%;
    font-weight: bold;
    padding: 0;
}
#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle {
    text-align: center;
    margin:0 8px 4px 14px;
    padding-top:8px;
    line-height: 1.5;
    overflow:hidden;
}


#toc ul, .toc ul {
    list-style-image: none;
    list-style-type: none;
    margin:0 8px 7px 14px;
    padding-left: 0;
    text-align: left;
}
#toc ul ul, .toc ul ul {
    margin: 0 0 0 2em;
}
#toc .toctoggle, .toc .toctoggle {
    font-size: 94%;
}

#toc ul li {
    list-style-type: none;
    padding-left: 0;
}

#toc-container {
	margin-bottom: 10px;
}
