---
layout: site
title: Error 404 -- Page not found
permalink: /404.html
---



<p>It looks like nothing was found at this location. Maybe try a search?</p>

<p>
<input id="query2" type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
</p>
<script>
var input = document.getElementById("query2");
input.addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode == 13) {
    	// both duckduckgo and startpage work fine
	    window.location = "https://www.startpage.com/do/search?query=site:beast2.org+" + input.value;
	    //window.location = "https://www.duckduckgo.com/?q=site:beast2.org+" + input.value;
	    // google requires the user to hit enter again when redirected to google.com
	    //window.location = "https://www.google.com/?q=site:beast2.org+" + input.value;
    }
});
</script>

<p>Or, perhaps you are looking for one of these pages:</p>

<ul>
  {% for page in site.pages %}
    <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </li>
  {% endfor %}
</ul>

<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
 
