<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="{{site.baseurl}}/css/genericons.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/wordpress-style.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    {% include analytics.html %}
  </head>

  <body>
	<script src="{{site.baseurl}}/jquery-3.1.1.min.js"></script>

    {% include navbar.html %}
    {% include sidebar.html %}
				<article class="page type-page status-publish">
<div id="main" class="site-main">
	<div id="main-content" class="main-content">
		<div id="primary" class="content-area">
				<header class="entry-header"><h1 class="entry-title">{{page.title}}</h1></header>
			<div id="content" class="site-content" role="main">
      				{{ content }}	
      				
<footer class="entry-meta"><span class="tag-links">
  {% for tag in page.tags %}
	<a href="https://www.startpage.com/do/search?query=site:beast2.org+{{tag}}" rel="tag">{{tag}}</a>
  {% endfor %}
</span></footer>

    		</div>
    	</div>
    </div>
</div>
				</article>

	

<nav class="navigation post-navigation" role="navigation">
	<h1 class="screen-reader-text">Post navigation</h1>
		<div class="nav-links">
  {% if page.previous.url %}
	<a href="{{site.baseurl}}{{page.previous.url}}" rel="prev"><span class="meta-nav">Previous Post</span>&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{site.baseurl}}{{page.next.url}}" rel="next"><span class="meta-nav">Next Post</span>{{page.next.title}} &raquo;</a>
  {% endif %}
  	<a href="{{site.baseurl}}/blogindex.html">Blog index<a>
		</div>
</nav>
<!--
<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{site.baseurl}}{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  	<a class="blogindex" href="{{site.baseurl}}/blogindex.html">Blog index<a>
  {% if page.next.url %}
    <a class="next" href="{{site.baseurl}}{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
-->


  </body>
</html>
